*{
	margin:0px;
	padding: 0px;
}
#playground{
	margin-top: 75px;
	list-style: none;
}
#newTaskArea{
	width:100%;
}
#addDate,#addTxt,#addBtn,#listArea{
	margin-left: 40px;
	margin-bottom:8px;
	font-size: 20px;
}
#addDate{
}
#addTxt{
}
#addBtn{
}
#listArea ul li{
	position:relative;
	font-size:30px;
}
#listArea ul li #taskDate{
	position:absolute;
	right:0px;
	bottom:0px;
	font-size:15px;
}